article.indo{
	padding-bottom:22vw;
  figure{
    width:70%;
    margin-right:0;
		right:0;
		top:(100/1440) * 95 * $mobile-factor * 1vw;
		position: absolute;
		@include grid-media($tablet){
			padding-bottom:14vw;
			top:(100/1440) * 120 * 1vw;
			width:85%;
			right:-5%;
		}
  }
  section.content{
    margin-top: 0;
    width:100%;
  }
}