article.natuurpodium{
	padding-bottom:32vw;
	@include grid-media($tablet){
		padding-bottom:4vw;
  }
  section.content{ 
    top: 4vw;
    width: 40%;
    z-index: 10;
    position: absolute;
    left: 54%;
    @include grid-media($tablet){
      //bottom:8%;
    }	
  }
}

.parent-natuurpodium {
    width: calc(50%);
    display: block;

    .row{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom:0.8vw;
        
        .col-1{
            display: block;
            width: calc(53.5% - 0.4vw);
            margin-right:0.8vw;
            .img1{
                margin-bottom:0.8vw
            }
        }
        .col-2{
            display: block;
            width: calc(46.5% - 0.4vw);
            //height:100%;
            figure{
                height:100%;
                img{
                    //object:fill
                }
            }
        }
    }
    
}

