article.snipes{
  padding-top:9vw;
	padding-bottom:32vw;
	@include grid-media($tablet){
		padding-bottom:4vw;
  }
  section.content{ 
    top: 0;
    width: 70%;
    z-index: 10;
    position: absolute;
    left: 26%;
    @include grid-media($tablet){
      //bottom:8%;
    }	
  }
}

.parent-snipes {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-column-gap: 0.8vw;
    grid-row-gap: 0.8vw;
    
    .img1 { grid-area: 3 / 1 / 9 / 7; }
    .img2 { grid-area: 4 / 7 / 9 / 16; }
    .img3 { grid-area: 4 / 16 / 9 / 25; }   
}

