article.sevdaliza-tghd{
	padding: bottom 10vw;
	@include grid-media($tablet){
		padding-bottom:2vw;
	}
}

.parent-tghd {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-column-gap: 0.8vw;
    grid-row-gap: 0.8vw;

    .img1 { grid-area: 1 / 1 / 11 / 25; }
    .img2 { grid-area: 11 / 1 / 17 / 13; }
    .img3 { grid-area: 11 / 13 / 17 / 25; }

    .img1{
        position: relative;
        &::after{
            //display: block;
            content:'';
            //background:red;
            width:100%;
            height:100%;
            position: absolute;
            top:0;
            left:0;
        }
    }
}
    
