---
layout: default-no
title: Bruce Moerdjiman

---


<main class="calendar">
	<div class="cal-wrap">
		<div class="main-head">

			{% for i in (1..37) %}
			   <div class="cell cell-special"></div>
			{% endfor %}
		</div>
		<div class="main-cal">
				<div class="cell head">Monday</div>
				<div class="cell head">Tuesday</div>
				<div class="cell head">Wednesday</div>
				<div class="cell head">Thursday</div>
				<div class="cell head">Friday</div>
				<div class="cell head">Saturday</div>
				<div class="cell head">Sunday</div>
		{% for day in site.data._q1 %}
		    <div class="cell {{day.bg}}">
					<span class="date">{{day.date}}</span>
					<span class="festival">{{day.festival}}</span>
					<span class="place">{{day.place}}</span>
				</div>
		{% endfor %}
		</div>
		<div class="month-cal">
			<div class="jan"> <p>Jan</p></div>
			<div class="feb"> <p>Feb</p></div>
			<div class="mar"> <p>Mar</p></div>
		</div>
	</div>



</main>
<footer>
  <h3>UX/UI design</h3>
  <h3>Motion design</h3>
  <h3>Frontend Development</h3>
  <h3>Wordpress Development</h3>
  <h3>Interactive Design</h3>
  <h3>Vj/light</h3>
  <br/><br/>
  <h2>Rotterdam<br/>NL</h2>
</footer>
