---
layout: default-no
title: Bruce Moerdjiman

days:
 - date: 1
   place: '-'
   bg: yellow
 - date: 2
   place: '-'
   bg: yellow
 - date: 3
   place: '-'
   bg: yellow
 - date: 4
   place: '-'
   bg: yellow
 - date: 5
   place: '-'
   bg: yellow
 - date: 6
   place: '-'
   bg: yellow
 - date: 7
   place: '-'
   bg: yellow
 - date: 8
   place: '-'
   bg: yellow
 - date: 9
   place: '-'
   bg: yellow
 - date: 10
   place: '-'
   bg: yellow
 - date: 11
   place: '-'
   bg: yellow
 - date: 12
   place: '-'
   bg: yellow
 - date: 13
   place: '-'
   bg: yellow
 - date: 14
   place: '-'
   bg: yellow
 - date: 15
   place: '-'
   bg: yellow
 - date: 16
   place: ''
   bg: blue
 - date: 17
   place: ''
   bg: blue
 - date: 18
   place: Brisbane
   bg: blue
 - date: 19
   place: Sydney
   bg: blue
 - date: 20
   place: Melbourne
   bg: blue
 - date: 21
   place: Hobart
   bg: blue
 - date: 22
   place: ''
   bg: blue
 - date: 23
   place: '-'
   bg: yellow
 - date: 24
   place: '-'
   bg: yellow
 - date: 25
   place: '-'
   bg: yellow
 - date: 26
   place: 'Sydney'
   bg: yellow
 - date: 27
   place: 'Colombo'
   bg: orange
 - date: 28
   place: '-'
   bg: orange
 - date: 29
   place: '-'
   bg: orange
 - date: 30
   place: '-'
   bg: orange
 - date: 31
   place: '-'
   bg: orange
 - date: 1
   place: 'Colombo'
   bg: orange
 - date: 2
   place: 'Vienna'
   bg: green
 - date: 3
   place: '-'
   bg: green
 - date: 4
   place: 'Cologne'
   bg: green
 - date: 5
   place: '-'
   bg: green
 - date: 6
   place: '-'
   bg:
 - date: 7
   place: '-'
   bg:
 - date: 8
   place: 'Budapest'
   bg: green
 - date: 9
   place: 'Bucharest'
   bg: green
 - date: 10
   place: 'Sofia'
   bg: green
 - date: 11
   place: ''
   bg: green
 - date: 12
   place: '-'
   bg:
 - date: 13
   place: '-'
   bg:
 - date: 14
   place: '-'
   bg:
 - date: 15
   place: 'Brussels'
   bg: green
 - date: 16
   place: 'Zurich'
   bg: green
 - date: 17
   place: 'Prague'
   bg: green
 - date: 18
   place:
   bg: green
 - date: 19
   place:
   bg:
 - date: 20
   place:
   bg: purple
 - date: 21
   place: San Diego
   bg: purple
 - date: 22
   place: ''
   bg: purple
 - date: 23
   place: Los Angeles
   bg: purple
 - date: 24
   place: San Francisco
   bg: purple
 - date: 25
   place:
   bg: purple
 - date: 26
   place: ''
   bg: purple
 - date: 27
   place: Washington
   bg: purple
 - date: 28
   place: New York
   bg: purple
 - date: 1
   place: ''
   bg: purple
 - date: 2
   place:
   bg:
 - date: 3
   place:
   bg:
 - date: 4
   place: ''
   bg:
 - date: 5
   place:
   bg:
 - date: 6
   place:
   bg:
 - date: 7
   place: ''
   bg: 
 - date: 8
   place: '-'
   bg:
 - date: 9
   place: '-'
   bg:
 - date: 10
   place: '-'
   bg:
 - date: 11
   place: '-'
   bg:
 - date: 12
   place: '-'
   bg:
 - date: 13
   place: '-'
   bg:
 - date: 14
   place: '-'
   bg:
 - date: 15
   place: '-'
   bg:
 - date: 16
   place: ''
   bg: red
 - date: 17
   place: 'Hong Kong'
   bg: red
 - date: 18
   place: 'Taipei'
   bg: red
 - date: 19
   place:
   bg: red
 - date: 20
   place:
   bg: red
 - date: 21
   place:
   bg: red
 - date: 22
   place: 'Tokyo'
   bg: red
 - date: 23
   place: 'Shanghai'
   bg: red
 - date: 24
   place: 'Bejing'
   bg: red
 - date: 25
   place: ''
   bg: red
 - date: 26
   place: ''
   bg: red
 - date: 27
   place: 'Kuala Lumpur'
   bg: red
 - date: 28
   place: ''
   bg: red
 - date: 29
   place: '-'
   bg:
 - date: 30
   place: '-'
   bg:
 - date: 31
   place: '-'
   bg:
 - date: '-'
   place: '-'
   bg:



---


<main class="calendar">
	<div class="cal-wrap">
		<div class="main-head">

			{% for i in (1..37) %}
			   <div class="cell cell-special"></div>
			{% endfor %}
		</div>
		<div class="main-cal">
				<div class="cell head">Monday</div>
				<div class="cell head">Tuesday</div>
				<div class="cell head">Wednesday</div>
				<div class="cell head">Thursday</div>
				<div class="cell head">Friday</div>
				<div class="cell head">Saturday</div>
				<div class="cell head">Sunday</div>
		{% for day in page.days %}
		    <div class="cell {{day.bg}}">
					<span class="date">{{day.date}}</span>
					<span class="place">{{day.place}}</span>
				</div>
		{% endfor %}
		</div>
		<div class="month-cal">
			<div class="jan"> <p>Jan</p></div>
			<div class="feb"> <p>Feb</p></div>
			<div class="mar"> <p>Mar</p></div>
		</div>
	</div>

</main>
<footer>
  <h3>UX/UI design</h3>
  <h3>Motion design</h3>
  <h3>Frontend Development</h3>
  <h3>Wordpress Development</h3>
  <h3>Interactive Design</h3>
  <h3>Vj/light</h3>
  <br/><br/>
  <h2>Rotterdam<br/>NL</h2>
</footer>
