//https://codepen.io/rileyjshaw/pen/dBygE

@mixin dg-bg($color){
	background-size: 10px 10px !important;
	background-image: (linear-gradient(-45deg, transparent 45%, rgba(0,0,0,0.4) 49%, rgba(0,0,0,0.4) 50%, transparent 55%));
	background-color:$color;
}


//or
// https://css-tricks.com/forums/topic/diagonal-line/ -



.calendar{
	margin-bottom:4vw;
}

.cal-wrap{
	display: flex;
	flex-wrap: wrap;
	position: relative;
	margin-left: calc((100%/40)*2);
}

.main-head{
	display: flex;
  width: calc((100%/40)*38);
	height:2vw;
	border-top:1px solid black;
	border-right:1px solid black;
}

.main-cal{
	display: flex;
	display: flex;
	flex-wrap: wrap;
	//width:70%;
	border-top: 1px solid black;
	border-right: 1px solid black;
	box-sizing: border-box;
	width: calc((100%/40)*36);
}

$darkgrey: #313131;

.month-cal{
	display: flex;
	width: calc((100%/40)*2);
	height: calc(100%-4.4vw);
	//background:grey;
	@include dg-bg($darkgrey);
	padding-top:4.4vw;
	flex-wrap: wrap;
	flex-direction: column;
	border-right:1px solid black;
	border-top:1px solid black;
	div{
		width:100%;

		p{
			padding-left:1.6vw;
			padding-top:1vw;
			text-transform: uppercase;
			font-size:130%;
			font-weight:700;
			width:1vw;
			word-wrap: break-word;
		}
	}

	.jan, .apr{
		background:white;
		flex: 1;
		border-top:1px solid black;

	}
	.feb{
		background:white;
		//height:22%;
		flex: 0.9;
	}
	.may{
		background:white;
		flex: 1;
	}

	.jan, .feb, .apr, .may{
		position: relative;
		&:after{
			display: block;
	    height: 1px;
	    width: 108%;
	    left: -4%;
	    background: black;
	    content: ' ';
	    position: absolute;
	    bottom: 5.6%;
	    transform: rotate(-20deg);
			z-index:99;
		}
	}
	.mar, .jun{
		background:white;
		flex: 1;
		border-bottom:1px solid black;
	}
}



$blue: #4A90E2;
$green: #B8E986;
$purple: #9013FE;
$yellow: #F8E71C;
$orange: #F5A623;
.cell{
	//@include dg-bg();
	width: calc(100% / 7);
	display: block;
	color:black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	box-sizing: border-box;
	position: relative;
	&.grey{
		@include dg-bg(grey);
	}
	&.darkturquoise{
		@include dg-bg(darkturquoise);
	}
	&.red{
		@include dg-bg(red);
	}
	&.magenta{
		@include dg-bg(magenta);
	}
	&.blue{
		@include dg-bg($blue);
	}
	&.green{
		@include dg-bg($green);
	}
	&.purple{
		@include dg-bg($purple);
	}
	&.yellow{
		@include dg-bg($yellow);
	}
	&.orange{
		@include dg-bg($orange);
	}
	&.head{
		font-size:130%;
		padding-left:0.3vw;
		padding-bottom:0.5vw;
		padding-top:0.5vw;
		&::first-letter {
    	font-size: 150%;
    	font-weight: 700;
		}
	}
}

.cell-special{
	border-bottom: none;
	@include dg-bg($darkgrey);
}

.date{
	background:black;
	color:white;
	font-weight:700;
	display: block;
	width:2vw;
	height:2vw;
	//padding-left:0.1vw;
	//	padding-bottom:0.3vw;
	text-align: center;
	position: relative;
	left:0;
	top:0;
}

.festival{
	display: block;
  width: 9vw;
  text-align: left;
  position: absolute;
  left: 2.5vw;
  top: 0;
  color: white;
  padding-right: 0.2vw;
	//font-weight:600;
	text-transform:none;
}

.place{
	font-weight:700;
	display: block;
	width:100%;
	padding-left:0.3vw;
	padding-bottom:0.5vw;
	padding-top:0.5vw;
	font-size:140%;
	color:white;
}
